*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}
/* Fine common */

/* Primo Elemento */
.container{
    width: 100%;
    margin: auto;
}

.box{
    height: 100vh;
    width: 100%;
    position: relative;
}

.frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Fine Primo Elemento */

/* Colori ID */
#red{
    background-color: rgb(255, 0, 0);
}

#green{
    background-color: rgb(2, 173, 2);
}

#yellow{
    background-color: rgb(255, 255, 0);
}
/* Fine Colori ID */

/* Caratteristiche image e text general */
.image{
    height: 100%;
}

.text-yellow{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 0);
}
/* Fine Caratteristiche image e text general */

/* Caratteristiche color text Terzo Elemento */
.text-green{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(2, 173, 2);
}
